.App {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    left: 40%
}

.App-button {
    margin-top: 5px;
    width: 150px;
}

.table-app {
    border: #222a32;
}

.add-button {
    margin-top: 10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
